:root {
  --cor-fundo: #01080E;
  --cor-principal: #4D1174 ;
  --cor-secundaria: #212333;
  --cor-destaque: #2BDEFD;
  --cor-texto: #D7F9FF;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal{
  background-color: var(--cor-principal);
  /* MUDANÇA: Defina a largura e a altura para o mesmo valor */
  width: 50vw; /* 50% da largura da tela */
  height: 50vw; /* 50% da largura da tela = Quadrado */
  /* --- Adicionei um max-width para telas muito grandes --- */
  max-width: 500px; /* Limita o tamanho máximo do quadrado */
  max-height: 500px;
  /* ----------------------------------------------------- */
  text-align: center;
  padding: 20px;
}
h1{
 color: var(--cor-destaque);
}
button {
  background-color: var(--cor-principal);
  color: var(--cor-destaque);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-secundaria);
}
